.container{
    display: flex;
    background-color: black;
    width: 900px;
    margin-bottom: 10px;
    
}

.container .column {
    width: 300px;
    background-color: green;
}

.container > .column {
    margin:10px;
}